body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #ffe4f0, #e0f1ff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container {
  background: white;
  padding: 25px;
  width: 350px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.15);
}

h1 {
  text-align: center;
  color: #ff4f81;
}

.input-box {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

#todo-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 8px;
}

#add-btn {
  padding: 10px 15px;
  background: #ff4f81;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#add-btn:hover {
  background: #d93567;
}

#todo-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: #f7f7f7;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  background: #ff4f81;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}
